
/* GLOBALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;


}
h1 {
    color: #fff;
    padding-left: 20px;
}
h2 {
    line-height: 2;
    padding-left: 20px;

}
h2 span {
    color:#537ec5;
    font-size: 30px;
    font-weight: bold;

}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    background: #1b2a49;
}
nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    
}
 .menu li {
     display: flex;
     /* flex: auto; */
     margin-right: 30px;
     
    }
    .menu li a {
        text-decoration: none;
        text-align: center;
        color: #fff;
        line-height: 3;
        
    }
    
    .menu li:first-child {
        border-bottom: 3px solid #537ec5;

 }



 /* ABOUT */
.about {
    width: 90%;
    margin: auto;
    padding: 20px;
    background: #ddd;

}


.about-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.about-text-social {
    align-self: flex-start;
    padding: 0 20px;
   
}

 .about-container figure img {
     border-radius:180% ;
     border: 5px solid #537ec5;

 }
 .about-text-social p {
     margin-bottom: 40px;
 }

 .social-link {
     display: inline-block;
     width: 40px;
     height: 40px;
     background-size: 40px 40px;
     margin: 0 10px;
 }

 .social-link.linkedin {
     background-image: url(../img/linkedin-with-circle.svg);
 }

 .social-link.github {
     background-image: url(../img/github-with-circle.svg);
 }

 .social-link.twitter {
     background-image: url(../img/twitter-with-circle.svg);
 }

 .social-link.skype {
     background-image: url(../img/skype-with-circle.svg);
 }
/* PORTFOLIO */
.portfolio {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    background: #eee;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    
    
}

.portfolio-item  {
    display: flex;
    flex-wrap: wrap;
    
}
.portfolio-item figure  {
    width: 31%;
     margin: 10px auto ;
}

/* SKILL */
.skills {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    background: #ddd;
  }
  
 
  .skill-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px 30px;
  }
  
  .bar-title {
    margin-bottom: 18px;
    width: 50%;
  }

  .bar, .bar div {
      border-radius: 11px;
  }
  
  .bar-title:nth-child(odd) {
    padding-right: 20px;
  }
  
  .bar-title:nth-child(even) {
    padding-left: 20px;
  }
  
  .bar-title h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  
  .bar-title .bar {
    height: 17px;
    width: 100%;
    background: white;
  }
  
   .bar-title .bar div {
    background: #537ec5;
    width: 50%;
    height: 100%;
  }

 /* FOOTER */
 footer {
     display: flex;
     justify-content: space-between;
     width: 90%;
     margin: auto;
     padding: 20px;
     background:  #1b2a49;
     color: #fff;
     align-self: flex-end;
 }

 /* RESPONSIVE */
 @media screen and (max-width:768px) {
    .portfolio-item figure  {
        width: 50%;
         margin: 3px auto ;
    }
    .portfolio-item figure img {
        width: 270px;
         
    }
 }